<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
    <script src="js/App.js"></script>
    <script src="js/UserController.js"></script>
    <script src="js/UserService.js"></script>       
    <body ng-app="employee">
        <h1>Hello</h1>
        <div ng-controller="UserController">
        
            <table ng-repeat="user in users">
                <tr>
                    <td>{{ user.userId }}</td>
                    <td>{{ user.userName }}</td>
                </tr>
            </table>
        </div>
    </body>
</head>